body {
    background-color: #050505;
    padding: 0;
    margin: 0;
    background-size: 300px 300px;
    background-image:
        linear-gradient(to right, rgb(40, 40, 40) 1px, transparent 0px),
        linear-gradient(to bottom, rgb(40, 40, 40) 1px, transparent 0px);
}

.sidebar {
    height: 70%;
    width: 180px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 15%;
    right: 6%;
    background-color: rgb(40, 20, 40);
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: block;
    opacity: 0.5;
}

/* TODO */
.sidebar a:hover {
    opacity: 1.0;
}


.container {
    display: table;
}

.text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 70px;
}

.text h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.text p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

